*{
    box-sizing: border-box;
}
body{
	width: 100%;
    background: url(http://img.atgames.jp/update/2014/renewal2014/globalnav/bg1.png);
    font-family:
        /*1*/-apple-system, blinkMacSystemFont,
        /*2*/"Segoe UI", "Microsoft JhengHei","Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        /*3*/"Helvetica Neue",Arial, sans-serif;
}
h2{
	font-size: 2.5em;
}
.clearfix:after{
    content:'';
    display:table;
    clear: both;
}
.warp{
	width: 80%;
	margin: 0 auto;

}
.head{
	margin: 0.4% auto;
	width: 80%;
	border-radius: 10px;
	position: fixed;
	top: 0;
  	background-color: #f4e8dac2;
  	border: solid 2px #392919;
}
.menu{
	margin: 0 auto;
}
.menu ul li{
	display: inline; 
	font-size: 1.5em;
	padding: 0 1em 0 1em;
}
.nav{
	margin: 0 auto;
}
.nav ul li{
	display: inline-block;
	font-size: 1.5em;
	padding: 0 0.5em 0 0.5em;
}
.infomation{
	background-color: #f4eee4;
	margin: 0 auto;
	padding: 10%;
}
.infomation_tip{
	border-bottom: dashed 3px #392919;
	padding-top: 14.5%;
	padding-bottom: 1.5%;
}
.infomation li{
	display: block;
	color: #392919;
	font-size: 2em;
	border-bottom: solid 1px #392919;
}
.infomation p{
	font-size: 1.5em;
	text-indent: 2em; 
}